<section class="container my-4">
<div class="row">
    <div class="col-12">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h1>About Us</h1>
        </div>
        <div class="card-body">
            <p>
            We are a small group of people who love to help others experience the joy of community and connection.
            We collect event tickets from various artists and make them available for purchase through our platform.
            So that you always know where to get your next ticket!
            </p>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h2>Our Mission</h2>
        </div>
        <div class="card-body">
            <p>
                Our mission is to provide a seamless and enjoyable ticket purchasing experience for our users.
                We believe that attending live events is a powerful way to connect with others and create lasting memories.
                That's why we are dedicated to offering a wide selection of tickets from top artists, all in one convenient location.
            </p>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h2>Our Team</h2>
        </div>
        <div class="card-body">
            <p>
                Our team is made up of passionate individuals who are committed to providing exceptional customer service and support.
                We are always here to help you find the perfect ticket for your next event, and we strive to make every interaction with our platform a positive one.
            </p>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
        <h2>Contact Us</h2>
        </div>
        <div class="card-body">
            <p>
                If you have any questions or feedback, please don't hesitate to reach out to us.
                We value your input and are always looking for ways to improve our platform and services.
                Thank you for choosing us as your go-to source for event tickets!
            </p>
        </div>
      </div>
    </div>
  </div>
</section>


