
  <h1>{{title}}</h1>
  <p>Selling tickets for your favorite events</p>
  <p>from your favorite artists <strong>Ed Sheeran</strong>, <strong>Taylor Swift</strong> and <strong>Beyoncé</strong> and many more!</p>

  <h2>Featured Artists</h2>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="card mb-4 shadow-sm">
        <img src="images/edsheeran.jpg" class="card-img-top" alt="Ed Sheeran">
        <div class="card-body">
          <h5 class="card-title">Ed Sheeran</h5>
          <p class="card-text">Experience the magic of Ed Sheeran live in concert. Get your tickets now!</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card mb-4 shadow-sm">
        <img src="images/taylorswift.jpg" class="card-img-top" alt="Taylor Swift">
        <div class="card-body">
          <h5 class="card-title">Taylor Swift</h5>
          <p class="card-text">Don't miss Taylor Swift's electrifying performance. Secure your tickets today!</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card mb-4 shadow-sm">
        <img src="images/beyonce.jpg" class="card-img-top" alt="Beyoncé">
        <div class="card-body">
          <h5 class="card-title">Beyoncé</h5>
          <p class="card-text">Join Beyoncé for an unforgettable night. Buy your tickets now!</p>
        </div>
      </div>
    </div>
  </div>

  <a href="/shop" class="btn btn-primary btn-lg">Browse Events</a>





