
<section class="container my-4">
<h1>Login</h1>
{{#if error}}<div class="alert alert-danger" role="alert">{{error}} <a href="#">Forgot your password?</a></div>{{/if}}

<form name="login" id="user-login" method="POST" action="/login">
  <input type="hidden" name="returnTo" value="{{returnTo}}">
  <div class="form-group"><label for="emailAddressID">Email address</label><input type="email" class="form-control" id="emailAddressID" name="email" required></div>
  <div class="mt-2"><label for="passwordID">Password</label><input type="password" class="form-control" id="passwordID" name="password" required></div>
  <div class="mt-3"><input type="submit" class="btn btn-primary" value="Login"></div>
</form>

<p class="mt-3"><a href="/register?returnTo={{returnTo}}">Need to Register?</a></p>
</section>