
    <h1>Shop</h1>

    <div class="container">
    <div >
      <h2>
        Product 1
      </h2>
      <div>
            <img src="https://placehold.co/200x200"/>

            <a href="#" id="addtocart">Add to Cart</a>
      </div>


    <div>
      <h2>
        Product 1
      </h2>
      <div>
            <img src="https://placehold.co/200x200"/>
            <a href="#"  id="addtocart">Add to Cart</a>
      </div>
    </div>



