<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a href="/"        class="nav-item nav-link{{#if (eq active 'home')}}active{{/if}}">Home</a>
      <a href="/shop"    class="nav-item nav-link{{#if (eq active 'shop')}}active{{/if}}">Shop</a>
      <a href="/login"   class="nav-item nav-link{{#if (eq active 'login')}}active{{/if}}">Login</a>
      <a href="/about"   class="nav-item nav-link{{#if (eq active 'about')}}active{{/if}}">About</a>
      <a href="/checkout"class="nav-item nav-link{{#if (eq active 'checkout')}}active{{/if}}">Checkout</a>
        </div>
  </div>
</nav>
-->


  <nav class="navbar bg-light">
  <div class="container-fluid d-flex align-items-center flex-nowrap">

    
    <a class="navbar-brand me-3" href="#">EventMaster</a>

    
    <ul class="navbar-nav flex-row align-items-center gap-3 flex-nowrap">

      <!-- Always-->
      <li class="nav-item">
        <a href="/"        class="nav-item nav-link{{#if (eq active 'home')}}active{{/if}}">Home</a>
      </li>
      <li class="nav-item">
        <a href="/shop"    class="nav-item nav-link{{#if (eq active 'shop')}}active{{/if}}">Shop</a>
      </li>

      <!-- SM and up -->
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/checkout"class="nav-item nav-link{{#if (eq active 'checkout')}}active{{/if}}">Checkout</a>
      </li>

      <!-- MD and up -->
      <li class="nav-item d-none d-md-inline-block">
        <a href="/about"   class="nav-item nav-link{{#if (eq active 'about')}}active{{/if}}">About</a>

      </li>

      <!-- LG and up -->
      <li class="nav-item d-none d-lg-inline-block">
        <a href="/login"   class="nav-item nav-link{{#if (eq active 'login')}}active{{/if}}">Login</a>
      </li>
      <li class="nav-item d-none d-lg-inline-block">
        <a href="/userdetails"   class="nav-item nav-link {{#if (eq active 'user')}}active{{/if}} {{#if (eq loggedin false)}}disabled{{/if}}">User</a>
      </li>

      
    </ul>

    <!-- Spacer to push toggle fully right -->
    <div class="flex-grow-1"></div>

    <!-- Toggler (RIGHT SIDE) -->
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
      aria-controls="mainNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <!-- COLLAPSED MENU -->
  <div class="collapse d-lg-none" id="mainNav">
    <ul class="navbar-nav ms-3 mb-2">

      <li class="nav-item d-sm-none">
        <a href="/checkout"class="nav-item nav-link{{#if (eq active 'checkout')}}active{{/if}}">Checkout</a>

      </li>

      <li class="nav-item d-md-none">
        <a href="/about"   class="nav-item nav-link{{#if (eq active 'about')}}active{{/if}}">About</a>
      </li>

      <li class="nav-item d-lg-none">
        <a href="/login"   class="nav-item nav-link{{#if (eq active 'login')}}active{{/if}}">Login</a>
      </li>
      <li class="nav-item d-lg-none">
        <a href="/userdetails"   class="nav-item nav-link {{#if (eq active 'user')}}active{{/if}} {{#if (eq loggedin false)}}disabled{{/if}}">User</a>
      </li>

      <li class="nav-item d-lg-none">
      </li>
    </ul>
  </div>
</nav>



