<nav class="nav">
  <a href="/"        class="{{#if (eq active 'home')}}active{{/if}}">Home</a>
  <a href="/shop"    class="{{#if (eq active 'shop')}}active{{/if}}">Shop</a>
  <a href="/login"   class="{{#if (eq active 'login')}}active{{/if}}">Login</a>
  <a href="/about"   class="{{#if (eq active 'about')}}active{{/if}}">About</a>
  <a href="/checkout"class="{{#if (eq active 'checkout')}}active{{/if}}">Checkout</a>
  <a href="/userdetails" class="{{#if (eq active 'userdetails')}}active{{/if}}">User</a>
</nav>