<!DOCTYPE html>
<html lang="en">
  {{> head }}
  <body>
    {{> nav }}
    {{{ body }}}
    <script src="/custom-js/custom.js"></script>
    <link rel="stylesheet" href="/css/home.css">
    {{> footer }}
  </body>
</html>
